# Дерекқорға қосылу сілтемесі (Жергілікті даму үшін SQLite қолданылады)
DATABASE_URL=sqlite:///./prism.db

# JWT токендерді шифрлауға арналған құпия кілт (Өндірісте міндетті түрде өзгертіңіз!)
SECRET_KEY=super_secret_key_change_me_in_production

# Токендерді шифрлау алгоритмі
ALGORITHM=HS256